<p>
  <b>Project:</b>
  <%=h @tender.project_id %>
</p>

<p>
  <b>Bid date:</b>
  <%=h @tender.bid_date %>
</p>

<p>
  <b>Validity:</b>
  <%=h @tender.validity %>
</p>

<p>
  <b>User:</b>
  <%=h @tender.user_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @tender.description %>
</p>


<%= link_to 'Edit', edit_tender_path(@tender) %> |
<%= link_to 'Back', tenders_path %>