<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <% if @groups.rindex(@group.parent)%>
  <p>	
		<%= f.label :parent_id %><br />
		<%= f.collection_select(:parent_id, @groups, :id, :name) %> 
  </p>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>