<h1>Sign Up to Track Risks</h1>
<div class="sign_up_form">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<!--
-->
  <p>
    <%= f.label :login_name %><br />
    <%= f.text_field :login %>
  </p>
  
	<p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
	<p>  
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <small><span style="color:grey">
The following fields are optional.
  <% fields_for :group do |group| %>
		<p>
		<%= group.label 			:name, "Enter the name of your organization." %><br />
		<%= group.text_field 	:name %><br/>
		<i>You can organize and report your risks by group</i>
		</p>
	<% end %>
	
	  <p>
    <%= f.label :full_name %> <i>(Defaults to your login name)</i><br />
    <%= f.text_field :name %>
  </p>


	</span></small>
<% end %>
</div>
<%= link_to 'Back', users_path %>
