<p>
  <b>User Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login Identity:</b>
  <%=h @user.login %>
</p>
<p>
<table class="table">
	<tr><td class="table_head" colspan="2">Group Access Levels</td></tr>
	<% current_user.priviledges.each do |p| %>
	<%= render(:partial => 'exposures/table_row', :locals => {:header => false, :fields => p.get_fields})  %>
	<% end %>
</table>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>