<h1>Editing exposure</h1>

<% form_for(@exposure) do |f| %>
  <%= f.error_messages %>
	<% if @current_user.account.rules.blank? %>
	<% fields_for :tender do |t| %>
	  <p>
			<%= t.label :description, "Name or Description" %><br />
			<%= t.text_field :description %>
		</p>
		<p>
			<%= t.label :bid_date, "When does the exposure begin" %><br />
			<%= t.date_select(:bid_date) %>
		</p>
		<p>
			<%= t.label :validity, "Until when is this exposure valid." %><br />
			<%= t.date_select(:validity)  %><small><i> (Must be an integer)</i></small>
		</p>
	<% end %>
<% else %>
	<p>
		<%= f.label :tender_id %><br />
		<%= f.collection_select(:tender_id, current_user.get_accessible_tenders?, :id, :description) %> 
	</p>
<% end %>


<p>
    <%= f.label :supply, "Cash Out?" %><br />
    <%= f.check_box :supply %> <small><i>(Check if we are <b>buying</b> something in a foreign currency as opposed to <b>selling</b> something in a foreign currency)</i></small>
  </p>

	<p>
    <%= f.label :currency_in %><br />
	 <%= f.collection_select(:currency_in, Currency.all, :id, :symbol) %> 
  </p>
  <p>
    <%= f.label :currency_out %><br />
    <%= f.collection_select(:currency_out, Currency.all, :id, :symbol) %> 
  </p>
  <p>
    <%= f.label :carried_rate, "What rate is being used in the cost calculation?" %><br />
    <%= f.text_field :carried_rate %> <small><i>(Leave blank to use the recommended value)</i></small>
  </p>
  <p>
    <%= f.label :amount , "Amount"%><br />
    <%= f.text_field :amount %> <small><i>(In foreign currency. Round off to the nearest whole unit - no decimals!)</i></small>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exposure %> |
<%= link_to 'Back', exposures_path %> |
<%= link_to 'Delete', @exposure, :confirm => 'Are you sure?', :method => :delete %>