<% e = [@exposure] %>
<% t = e[0].tender if e.size > 0%>

<table class="table">
<%= render(:partial => 'exposure_table_rows', 
	:locals => {:exposures => e, :header_text => t.description})  %>
</table>

<%= render :partial => "graph_rates" %>

<%= render :partial => "graph_probs" %>
                                
<%= link_to 'Edit', edit_exposure_path(@exposure) %> |
<%= link_to 'Back', exposures_path %>|
<%= link_to 'Delete', @exposure, :confirm => 'Are you sure?', :method => :delete %>
</br>
<%= chart("graph_rates", { 
      "Actual Rate" => {:collection => @exposure.rates, :x => :day, :y => :factor, :options => { :lines => {:show =>true}} }, 
      "Carried Rate" => {:collection => @exposure.rates, :x => :day, :y => :carried, :options => { :lines => {:show =>true}} }, 
      "Recommended Rate" => {:collection => @exposure.rates, :x => :day, :y => :recommended, :options => { :lines => {:show =>true}} }},       
      {:grid => { :backgroundColor => "#fffaff" }},
      { :placeholder_tag => false}) %>
      
<%= chart("graph_probs", { 
      "Actual Rate" => {:collection => @exposure.get_probs, :x => :x, :y => :y, :options => { :points => {:show =>true, :radius => 2}} }},       
      {:grid => { :backgroundColor => "#fffaff" }},
      { :placeholder_tag => false}) %>      
