<% e = [@exposure] %>
<% t = e[0].tender if e.size > 0%>

<table class="table">
<%= render(:partial => 'exposure_table_rows', 
	:locals => {:exposures => e, :header_text => t.description})  %>
</table>

<%= @graph %>
</br>

<%= @prob_plot%>

<%= link_to 'Edit', edit_exposure_path(@exposure) %> |
<%= link_to 'Back', exposures_path %>|
<%= link_to 'Delete', @exposure, :confirm => 'Are you sure?', :method => :delete %>