<% e = @exposure %>
<% t = e.tender %>

<table>
<%= render(:partial => 'tenders/tender_table_rows', :locals => {:tender => t})  %>
<%= render(:partial => 'exposure_table_rows', :locals => {:exposure => e})  %>
</table>

<%= @graph %>

<%= link_to 'Edit', edit_exposure_path(@exposure) %> |
<%= link_to 'Back', exposures_path %>