<div class= "header">
	Risk Rules
	<div class= "login">
		<%- if current_user -%>
				<%= current_user.login %> is logged in<br/>
				<%= link_to "Edit Profile", edit_user_path(current_user) %><br/>
				<%= link_to "Logout", logout_path %>
		<%- else -%>	
			<%= link_to "Register", new_user_path %><br/>
			<%= link_to "Login", login_path %>
		<%- end -%>
	</div>
	<div class= "navItem">
		<%= link_to('Groups | ', groups_path) %>
		<%= link_to('Projects | ', projects_path) %>
		<%= link_to('Tenders | ', tenders_path) %>
		<%= link_to('Exposures', exposures_path) %>
	</div>
</div>