<% hide_login = "visible" if local_assigns[:hide_login].nil? %>
<div class= "header">
	Pragmatic Risk Management
	<div class= "login" style="visibility:<%= hide_login %>" >
		<%- if current_user -%>
				<%= current_user.login %> is logged in<br/>
				<%= link_to "Edit Profile", edit_user_path(current_user) %><br/>
				<%= link_to "Logout", logout_path %>
		<%- else -%>	
			<%= link_to "Register", new_user_path %><br/>
			<%= link_to "Login", login_path %>
		<%- end -%>
	</div>
	<div class= "navItem">
		<%- if current_user -%>
			<%= link_to('My Groups | ', groups_path) unless free? %>
			<%= link_to('My Group | ', current_user.groups.first) if free? %>
			<%= link_to('My Projects | ', projects_path) unless free? %>
			<%= link_to('My Tenders | ', tenders_path) unless free? %>
			<%= link_to('My Exposures', exposures_path) %>
		<%- else -%>
				Risk analysis and monitoring.
		<%- end -%>
	</div>
</div>