<p>
  <b>Conversion:</b>
  <%=h @datum.conversion_id %>
</p>

<p>
  <b>Rate:</b>
  <%=h @datum.rate %>
</p>

<p>
  <b>Day:</b>
  <%=h @datum.day %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>